{% comment %}
#
#   Liquid variables are created at the top to keep the source DRY and clean.
#   Idea by ericcarlisle.com
#
#   Variables › {{ url }} › site.url + site.baseurl
#   Variables › {{ description }} › excerpt, page.meta_description, or site.description
#   Variables › {{ title }} › page.title
#
{% endcomment %}{% capture ignore %}

{% assign url = site.baseurl | prepend: site.url %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

    {% comment %}
		<!-- Preload CSS // Non Blocking CSS https://git.io/fj3da
		<link rel="stylesheet" type="text/css" href="{{ url }}/assets/css/styles_feeling_responsive.css">-->
		{% endcomment %}
		<link rel="preload" href="{{ url }}/assets/css/styles_feeling_responsive.css" as="style" onload="this.rel='stylesheet'">
	  <noscript><link rel="stylesheet" href="{{ url }}/assets/css/styles_feeling_responsive.css"></noscript>

	  <script>
	    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
	    !function(a){"use strict";var b=function(b,c,d){function j(a){if(e.body)return a();setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
	    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
	    !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(a){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
	  </script>
  {% if site.asciidoctor-enabled == true %}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  {% endif %}


	<script src="{{ url }}/assets/js/modernizr.min.js" async rel="preload"></script>

	<!-- Search Engine Optimization -->
	<meta name="description" content="{{ description }}">
	{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}">{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" >{% endif %}
	{% if site.yandex_site_verification %}<meta name="yandex-verification" content="{{ site.yandex_site_verification }}">{% endif %}
	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}">{% endif %}
	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}">{% endif %}
	{% if page.noindex == true or layout.noindex == true %}<meta name="robots" content="noindex">{% endif %}
	<link rel="canonical" href="{{ url }}{{ page.url }}">


	<!-- Facebook Open Graph -->
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ url }}{{ page.url }}">
	<meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ site.title }}">
	{% if page.image.title %}<meta property="og:image" content="{{ site.urlimg }}{{ page.image.title }}">{% endif %}
	{% if site.socialmedia.facebook %}<meta property="article:author" content="https://www.facebook.com/{{ site.socialmedia.facebook }}">{% endif %}


	{% if site.socialmedia.twitter %}
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:creator" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ description }}">
	{% if page.image.title %}<meta name="twitter:image" content="{{ site.urlimg }}{{ page.image.title }}">{% endif %}
	{% endif %}

	<link type="text/plain" rel="author" href="{{ url}}/humans.txt">

	{% if page.mediaplayer == true %}
		<script src="{{ url }}/assets/mediaelement_js3/jquery.min.js"></script>
		<script src="{{ url }}/assets/mediaelement_js3/mediaelement-and-player.min.js"></script>
		<link rel="stylesheet" href="{{ url }}/assets/mediaelement_js3/mediaelementplayer.min.css">
	{% endif %}

	{% include _favicon.html %}
	{% include _schema.html %}
	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}
