<script defer type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "NABPR",
  "alternateName": "National Association of Baptist Professors of Religion",
  "url": "https://nabpr.org"
}
 </script>
 <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "NABPR | National Association of Baptist Professors of Religion",
  "url": "https://nabpr.org",
  "sameAs": [
    "http://linkedin.com/company/national-association-of-baptist-professors-of-religion",
    "http://www.facebook.com/nabpr",
    "http://twitter.com/nabpr1"
  ],
  "logo": "https://nabpr.org/assets/img/logo-c.png",
  "image": "https://nabpr.org/images/logos/NABPR-header.png",
  "description": "The National Association of Baptist Professors of Religion is a community of teaching scholars. Most members teach at Baptist-affiliated schools, colleges, and seminaries, but members also hail from a wide range of institutions in the United States, Canada, and abroad, including church-related and state-supported schools.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "NABPR c/o Joyce Swoveland, Department of Religion, Baylor University One Bear Place",
    "postOfficeBoxNumber": " #97284",
    "addressLocality": "Waco",
    "addressRegion": "TX",
    "postalCode": "76798",
    "addressCountry": "USA"
  }
}
 </script>
