<meta property="og:image:height" content="1005">
<meta property="og:image:width" content="1920">
<meta property="og:title" content="National Association of Baptists Professors of Religion">
<meta property="og:description" content="The National Association of Baptist Professors of Religion is a community of teaching scholars. Most members teach at Baptist-affiliated schools, colleges, and seminaries...">
<meta property="og:url" content="https://nabpr.org/">
<meta property="og:image" content="https://nabpr.org/images/cup-of-coffee-1280537-min.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nabpr1">
<meta name="twitter:title" content="National Association of Baptist Professors of Religion">
<meta name="twitter:description" content="The National Association of Baptist Professors of Religion is a community of teaching scholars. Most members teach at Baptist-affiliated schools, colleges, and seminaries...">
<meta name="twitter:image" content="https://nabpr.org/images/cup-of-coffee-1280537-min.png">
