<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			The <a title="NABPR: National Association of Baptist Professors of Religion" href="/">National Association of Baptist Professors of Religion</a> is a community of teaching scholars. Most members teach at Baptist-affiliated schools, colleges, and seminaries, but members also hail from a wide range of institutions in the United States, Canada, and abroad, including church-related and state-supported schools. The history of the association is woven into the changing religious culture of the United States&hellip;The immediate predecessor of the NABPR was a group of Baptist teaching scholars in the Southeast who, in 1972 founded a journal, Perspectives in Religious Studies, laying a foundation of publications that continues to identify the work of the Association. <a href="/info/">About &rsaquo;</a>
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
